{% extends 'takdhum/html/base.html' %}
{% load staticfiles %}

{% block title %} About Us {% endblock title %}

{% block body %}



<section class="uv-about-inner">
    <div class="container">
        <div class="col-xs-12 section-title">
                <h2>About Us</h2>
        </div>
        <div class="row ">
            <div class="uv-about-content overflow">
                <div class="bg-3 overflow">
                    <div class="col-sm-6 padding-o">
                        <img src="{{ about.about_image.url }}" alt="" class="img-responsive">
                    </div>
                    <div class="col-sm-6">
                        <div class="uv-about-info">
                            <h4>About Our Journey</h4>
                            <p>{{ about.our_journey }}</p>
                        </div>
                        <div class="uv-about-info">
                            <h4>Our History & Passion</h4>
                            <p>{{ about.our_history_and_passions }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--
<section class="uv-achivement">
    <div class="container">
        <div class="row section-separator">
            <div class="section-title col-xs-12">
                <h2>Our Achivements</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing aelit, sed do eiusmod tempor incididunt.</p>
            </div>
            <div class="col-xs-12">
                <div class="row">
                    <div class="uv-achivement-circle">
                        <ul>
                            <li class="col-md-3 col-sm-6">
                                <div class="row">
                                    <div class="circles col-sm-6 col-xs-6">
                                        <div class="progress progress-circle" data-progress="45"></div>
                                    </div>
                                    <div class="uv-circle-info col-sm-6 col-xs-6">
                                        <i class="fa flaticon-presentation"></i>
                                        <span>Presentation</span>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6">
                                <div class="row">
                                    <div class="circles col-sm-6 col-xs-6">
                                        <div class="progress progress-circle" data-progress="99"></div>
                                    </div>
                                    <div class="uv-circle-info col-sm-6 col-xs-6">
                                        <i class="fa flaticon-photo-camera"></i>
                                        <span>Video Lecture</span>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6">
                                <div class="row">
                                    <div class="circles col-sm-6 col-xs-6">
                                        <div class="progress progress-circle" data-progress="70"></div>
                                    </div>
                                    <div class="uv-circle-info col-sm-6 col-xs-6">
                                        <i class="fa flaticon-diploma-paper-roll"></i>
                                        <span>Alumni</span>
                                    </div>
                                </div>
                            </li>
                            <li class="col-md-3 col-sm-6">
                                <div class="row">
                                    <div class="circles col-sm-6 col-xs-6">
                                        <div class="progress progress-circle" data-progress="65"></div>
                                    </div>
                                    <div class="uv-circle-info col-sm-6 col-xs-6">
                                        <i class="fa flaticon-mortarboard"></i>
                                        <span>Certificates</span>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
-->


<section class="uv-video image-bg" style="background-image: url({% static 'takdhum/assets/images/video-bg.jpg' %});">
    <div class="overlay">
        <div class="container">
            <div class="row section-separator">
                <h2>On site campus tour at our EUNIV.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipi sicing elit, sed do eiusmod tempor incididunt ut labore et.dolore magna aliquauis aute irure dolor.</p>
                <div class="button">
                    <a data-fancybox href="{{ about.promo_video.url }}"><i class="fa flaticon-play-button"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}