{% extends 'takdhum/html/base.html' %}
{% load staticfiles %}

{% block title %} {{ title }} {% endblock title %}
{% block body %}
<section class="uv-subpage-heading image-bg" style="background-image: url({% static "takdhum/assets/images/header-bg-1.jpg" %});">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="uv-subhead-content col-xs-12">
                    <h2>{{ tag|capfirst }} Courses </h2>
                    <span>Takdhum {{ tag }} course are given bellow</span>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="uv-pagination">
    <div class="container">
        <ul>
            <li class="active"><a href="{% url 'index' %}">Home</a></li>
            <li><a href="#">{{ tag.lower }}-courses</a></li>
        </ul>
    </div>
</div>

<section class="uv-course-archive">
    <div class="container">

        <!--Search course-->
            {% include 'takdhum/course_search.html' %}

        <!--End search course-->
        <div class="row">
            <div class="uv-courses-2">
                <div class="">

                    {% for c in courses %}
                     <div class="col-md-3 col-sm-6">

                        <div class="uv-courese-single-thumb uv-shadow">
                            <div class="uv-post-img">
                                <img src="{{ c.thumbnail_image.url }} " alt="" class="img-responsive">
                                <div class="uv-post-author">
                                    <img src="{% static "takdhum/assets/images/t3.jpg" %}" alt="">
                                    <span>Takdhum</span>
                                </div>
                            </div>
                            <div class="uv-course-thumb-inner">
                                <a href="{% url 'single_course' category=c.course_category.category_url course=c.course_url %}"><h4>{{ c.course_title }}</h4></a>
                                 <!--<p><span>{{ c.course_category.category_name }}</span>  <del>$280</del></p> -->
                            </div>

                            <ul class="course-info-2">
                                <li class="course-info-2">
                                    <i class="fa fa-users"></i>
                                    <span><a href="{% url 'single_category' category=c.course_category.category_url %}">{{ c.course_category.category_name }}</a></span>
                                </li>
                                <li class="uv-course-rating">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </li>
                            </ul>
                        </div>
                     </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>



{% endblock body %}