{% extends 'takdhum/html/base.html' %}
{% load staticfiles %}

{% block title %} {{ title }} {% endblock title %}
{% block body %}

<section class="uv-subpage-heading image-bg" style="background-image: url({% static "takdhum/assets/images/header-bg-1.jpg" %});">
    <div class="overlay">
        <div class="container">
            <div class="row">
                <div class="uv-subhead-content col-xs-12">
                    <h2>{{ tag|capfirst }} Courses</h2>
                    <span>Curricular Responsive Bootstrap Education Template</span>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="uv-pagination">
    <div class="container">
        <ul>
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Courses</a></li>
        </ul>
    </div>
</div>

<section class="uv-course-archive">
    <div class="container">
            <div class="col-md-9 col-sm-8">
                <!--Search course-->
                     {% include 'takdhum/course_search.html' %}

                <!--End search course-->

                <div class="row">
                    <div class="uv-courses-2">
                        <div class="">
                            {% for c in courses %}
                            <div class="col-md-4 col-sm-6">
                                <div class="uv-courese-single-thumb uv-shadow">
                                    <div class="uv-post-img">
                                        <img src="{{ c.thumbnail_image.url }}" alt="" class="img-responsive">
                                        <div class="uv-post-author">
                                            <img src="{% static "takdhum/assets/images/t3.jpg" %}" alt="">
                                            <span>Takdhum</span>
                                        </div>
                                    </div>
                                    <div class="uv-course-thumb-inner">
                                        <a href="{% url 'single_course' category=c.course_category.category_url course=c.course_url %}"><h4>{{ c.course_title }}</h4></a>
                                        <!--<p><span>$230.00</span> <del>$280</del></p> -->
                                    </div>
                                    <ul class="course-info-2">
                                        <li class="course-info-2">
                                            <i class="fa fa-users"></i>
                                            <span>500 Students</span>
                                        </li>
                                        <li class="uv-course-rating">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
            </div>

            {% include 'takdhum/body_course_category.html' %}


    </div>
</section>



{% endblock body %}