{% extends 'takdhum/html/base.html' %}
{% load staticfiles %}

{% block title %} Home {% endblock title %}

{% block body %}



        <!--
        |========================
        |   SLIDER CONTENT
        |========================
        -->
        {% include 'takdhum/home_page/slider.html' %}


        <!--
        |========================
        |      Service
        |========================
        -->
        {# {% include 'takdhum/home_page/service.html' %} #}

        <!--
        |========================
        | About
        |========================
        -->
        {# {% include 'takdhum/home_page/about.html' %} #}

        <!--
        |========================
        |  Join
        |========================
        -->
        <section class="uv-join bg-2">
            <div class="container">
                <div class="section-separator">
                    <div class="uv-join-inner image-bg" style="background-image: url({% static "takdhum/assets/images/join-bg.jpg" %});">
                        <div class="join-content wow fadeIn" data-wow-delay="0.2s">
                            <span>Click to Apply Now for Details</span>
                            <h3>Summer Admission is Going on</h3>
                            <div class="join-btn">
                                <a href="#" class="btn btn-base">Apply Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--
        |========================
        |      Course
        |========================
        -->
        {% include 'takdhum/home_page/index_page_course.html' %}

        <!--
        |========================
        |      Events
        |========================
        -->
        {% include 'takdhum/home_page/events.html' %}

        <!--
        |========================
        |  video
        |========================
        -->
        <section class="uv-video image-bg" style="background-image: url({% static "takdhum/assets/images/video-bg.jpg" %});">
            <div class="overlay">
                <div class="container">
                    <div class="row section-separator wow fadeIn" data-wow-delay="0.2s">
                        <h2>Curricular Campus Tour</h2>
                        <div class="button">
                            <a data-fancybox href="http://www.youtube.com/watch?v=n9EUqIoBJXA"><i class="fa flaticon-play-button"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!--
        |========================
        |  blog 1
        |========================
        -->
        {% include 'takdhum/home_page/home_blog.html' %}

        <!--
        |========================
        |  testimonial
        |========================
        -->
        {% include 'takdhum/home_page/testimonial.html' %}

{% endblock body %}
