<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'takdhum/single_course/ten.css' %}">
    <link href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" rel="stylesheet">
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="contenar">
      <div class="left">
          <div id="accordion">
              <div class="card">
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="button btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                      Collapsible Group Item #1<i class="fas fa-angle-down"></i>
                    </button>
                  </h5>
                </div>

                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                  <div class="card-body flow">
                      {% for c in course_item %}
                        <a href="{{ c.video_link }}" target="player">{{ c.video_title }}</a>
                      {% endfor %}
                        <a href="#" target="player">2</a>
                        <a href="#" target="player">3</a>
                        <a href="#" target="player">4</a>
                        <a href="#">5</a>
                        <a href="#">6</a>
                        <a href="#">7</a>
                        <a href="#">8</a>
                        <a href="#">9</a>
                        <a href="#">10#</a>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="button btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Collapsible Group Item #2<i class="fas fa-angle-down"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body flow">
                      <a href="#">11</a>
                      <a href="#">22</a>
                      <a href="#">33</a>
                      <a href="#">44</a>
                      <a href="#">55</a>
                      <a href="#">66</a>
                      <a href="#">77</a>
                      <a href="#">88</a>
                      <a href="#">99</a>
                      <a href="#">100</a>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="button btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      Collapsible Group Item #3<i class="fas fa-angle-down"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body flow">
                      <a href="#">10</a>
                      <a href="#">20</a>
                      <a href="#">30</a>
                      <a href="#">40</a>
                      <a href="#">50</a>
                      <a href="#">60</a>
                      <a href="#">70</a>
                      <a href="#">80</a>
                      <a href="#">90</a>
                      <a href="#">100#</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                    <button class="button btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Collapsible Group Item #4<i class="fas fa-angle-down"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                  <div class="card-body flow">
                      <a href="#">11</a>
                      <a href="#">22</a>
                      <a href="#">33</a>
                      <a href="#">44</a>
                      <a href="#">55</a>
                      <a href="#">66</a>
                      <a href="#">77</a>
                      <a href="#">88</a>
                      <a href="#">99</a>
                      <a href="#">100</a>
                  </div>
                </div>
              </div>

			  <div class="card">
                <div class="card-header" id="headingFive">
                  <h5 class="mb-0">
                    <button class="button btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      Collapsible Group Item #5<i class="fas fa-angle-down"></i>
                    </button>
                  </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                  <div class="card-body flow">
                      <a href="#">Kaj hocce</a>
                      <a href="#">22</a>
                      <a href="#">33</a>
                      <a href="#">44</a>
                      <a href="#">55</a>
                      <a href="#">66</a>
                      <a href="#">77</a>
                      <a href="#">88</a>
                      <a href="#">99</a>
                      <a href="#">100</a>
                  </div>
                </div>
              </div>
      </div>

      <div class="embed-responsive embed-responsive-16by9 videosize">
        <iframe class="video-size""embed-responsive-item" src="https://www.youtube.com/embed/kct6DERS9LA" allowfullscreen></iframe>
      </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>