{% load staticfiles %}
<!-- FAV AND ICONS   -->
<link rel="icon" href="{% static "takdhum/assets/images/favicon.png" %}" sizes="32x32" />
<link rel="icon" href="{% static "takdhum/assets/images/apple-icon-192.png" %}" sizes="192x192" />
<link rel="apple-touch-icon-precomposed" href="{% static "takdhum/assets/images/apple-icon-180.png" %}" />

<!-- GOOGLE FONTS -->
<link href="http://fonts.googleapis.com/css?family=Montserrat:300,400,500,700%7cVarela+Round" rel="stylesheet">

<!-- FONT ICONS -->
<link rel="stylesheet" href="{% static "takdhum/assets/icons/font-awesome-4.7.0/css/font-awesome.min.css" %}">

<!-- Custom Icon Font -->
<link rel="stylesheet" href="{% static "takdhum/assets/font/flaticon.css" %}">
<!-- Bootstrap-->
<link rel="stylesheet" href="{% static "takdhum/assets/plugins/css/bootstrap.min.css" %}">
<!-- Animation -->
<link rel="stylesheet" href="{% static "takdhum/assets/plugins/css/animate.css" %}">
<!-- owl -->
<link rel="stylesheet" href="{% static "takdhum/assets/plugins/css/owl.css" %}">
<!-- selectize -->
<link rel="stylesheet" href="{% static "takdhum/assets/plugins/css/selectize.css" %}">
<link rel="stylesheet" href="{% static "takdhum/assets/plugins/css/selectize.bootstrap3.css" %}">
<!-- Fancybox-->
<link rel="stylesheet" href="{% static "takdhum/assets/plugins/css/jquery.fancybox.min.css" %}">
<!--dropdown -->
<link rel="stylesheet" href="{% static "takdhum/assets/plugins/css/bootstrap-dropdownhover.min.css" %}">
<!-- mobile nav-->
<link rel="stylesheet" href="{% static "takdhum/assets/plugins/css/meanmenu.css" %}">

<!-- COUSTOM CSS link  -->
<link rel="stylesheet" href="{% static "takdhum/assets/less/style.css" %}">
<link rel="stylesheet" href="{% static "takdhum/assets/less/responsive.css" %}">

<!--[if lt IE 9]>
    <script src="js/plagin-js/html5shiv.js" %}"></script>
    <script src="js/plagin-js/respond.min.js" %}"></script>
<![endif]-->


