{% load staticfiles %}

<!--
|========================
|      Script
|========================
-->
<!-- jquery -->
<script src="{% static "takdhum/assets/plugins/js/jquery-1.11.3.min.js" %}"></script>
<!-- Bootstrap -->
<script src="{% static "takdhum/assets/plugins/js/bootstrap.min.js" %}"></script>
<!-- mean menu nav-->
<script src="{% static "takdhum/assets/plugins/js/meanmenu.js" %}"></script>
<!-- ajaxchimp -->
<script src="{% static "takdhum/assets/plugins/js/jquery.ajaxchimp.min.js" %}"></script>
<!-- wow -->
<script src="{% static "takdhum/assets/plugins/js/wow.min.js" %}"></script>
<!-- Owl carousel-->
<script src="{% static "takdhum/assets/plugins/js/owl.carousel.js" %}"></script>
<!--dropdownhover-->
<script src="{% static "takdhum/assets/plugins/js/bootstrap-dropdownhover.min.js" %}"></script>
<!--jquery-ui.min-->
<script src="{% static "takdhum/assets/plugins/js/bars.js" %}"></script>
<!--validator -->
<script src="{% static "takdhum/assets/plugins/js/validator.min.js" %}"></script>
<!--smooth scroll-->
<script src="{% static "takdhum/assets/plugins/js/smooth-scroll.js" %}"></script>
<!-- Fancybox js-->
<script src="{% static "takdhum/assets/plugins/js/jquery.fancybox.min.js" %}"></script>
<!-- fitvids -->
<script src="{% static "takdhum/assets/plugins/js/jquery.fitvids.js" %}"></script>
<!-- SELECTIZE-->
<script src="{% static "takdhum/assets/plugins/js/standalone/selectize.js" %}"></script>
<!-- isotope js-->
<script src="{% static "takdhum/assets/plugins/js/isotope.pkgd.js" %}"></script>
<script src="{% static "takdhum/assets/plugins/js/packery-mode.pkgd.js" %}"></script>
<!-- progressbar-->
<script src="{% static "takdhum/assets/plugins/js/progressbar.min.js" %}"></script>
<!-- inview -->
<script src="{% static "takdhum/assets/plugins/js/jquery.inview.min.js" %}"></script>
<!---->

<!-- init -->
<script src="{% static "takdhum/assets/js/init.js" %}"></script>