{% load staticfiles %}
<!--
|========================
|      Course
|========================
-->
<section class="uv-course image-bg" style="background-image: url({% static "takdhum/assets/images/course-bg.jpg" %});">
    <div class="overlay">
        <div class="container">
            <div class="row section-separator">
                <div class="section-title col-xs-12 wow fadeIn" data-wow-delay="0.2s">
                    <h2>Our Courses</h2>
                    <span>Takdhum Top Courses</span>
                    <!--<hr class="uv-hr">-->
                    <a href="{% url 'all_course' %}" class="btn btn-base view-full-event"> View All</a>
                </div>
                <div class="each-courses col-xs-12 wow fadeIn" id="uv-carousel" data-wow-delay="0.3s">
                    {% for c in courses %}
                    <div class="item">
                        <a href="{% url 'single_course' category=c.course_category.category_name course=c.course_url %}">
                        <div class="course-inner">
                            <div class="course-banner">
                                <img src="{{ c.thumbnail_image.url }}" alt="{{ c.course_title }}" class="img-responsive">
                            </div>
                            <div class="course-content">
                                <h4>{{ c.course_title }}</h4>
                                <p>{{ c.course_category.category_name }}</p>
                                 <a href="#" class="btn btn-base">Apply Now</a>
                            </div>
                        </div>
                        </a>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>
</section>

